@using ParkoviskoCheckingAPP.Data;
@inject CarService service

@using ParkoviskoCheckingAPP.Components

@page "/lpr"

<div class="custom_div">
    <div>
        <label for="licensePlate">Enter License Plate:</label>
        <input type="text" @bind="plate" id="plate"/>
    </div>
    <br />
    <button class="btn btn-primary" @onclick="FindCar">Process License Plate</button>
</div>

<div class="card-container">
    @if (car != null)
    {
        <CarCard car="car" Refresh="OnDelete" />
    }
    
    @if(car == null && triedToFind == true)
    {
        <p>I am sorry but this car does not exist</p>
    }
</div>
@code {
    Car car;
    string plate;
    bool triedToFind = false;

    async Task FindCar()
    {
        car = await service.GetCarByPlateAsync(plate);
        triedToFind = true;
    }

    void OnDelete()
    {
        triedToFind = false;
        car = null;
    }
}

<style>
    .custom_div {
        max-width: 400px;
        margin: 0 auto;
        background-color: #2a2a2a;
        padding: 20px;
        border-radius: 8px;
    }

    .card-container{
        justify-content: center;
        align-items: center;
    }

</style>