@using ParkoviskoCheckingAPP.Data;
@using ParkoviskoCheckingAPP.Components
@using ParkoviskoCheckingAPP.services
@using ParkoviskoCheckingAPP.Validations
@using Refit
@using Microsoft.AspNetCore.Mvc
@using Microsoft.Net.Http.Headers
@inject CarService _carService
@inject ValidationHelper ValidationHelper

@page "/lpr"

@if (editing)
{
    <EditCarComponent car="car" Refresh="OnDelete" />
}
else
{
    <div class="custom_div">
        <div>
            <label for="licensePlate">Zadaj EČV:</label>
            @if (invalidPlate)
            {
                <label style="color:red;">Neplatná EČV</label>
            }
            <input type="text" @bind="plate" id="plate"/>
        </div>
        <br />
        <button class="btn btn-primary" @onclick="FindCar">Skontroluj EČV</button>

        <InputFile OnChange="@LoadFiles" multiple/>
    </div>

    <div class="card-container">
        @if (car != null)
        {
            <CarCard car="car" Refresh="OnDelete" Edit="OnEdit"/>
        }

        @if (car == null && triedToFind)
        {
            <p>Toto auto neexistuje</p>
        }
    </div>
}

@code {
    bool editing;
    Car car;
    string plate;
    bool triedToFind;

    bool carExists;

    bool invalidPlate;

    async Task FindCar()
    {
        if (string.IsNullOrEmpty(plate)) { return; }

        if (!ValidationHelper.ValidateLicensePlate(plate))
        {
            invalidPlate = true;
            return;
        }
        invalidPlate = false;

        car = await _carService.GetCarByPlateAsync(plate);
        triedToFind = true;
    }

    void OnDelete()
    {
        plate = string.Empty;
        triedToFind = false;
        car = null;
        editing = false;
    }

    void OnEdit()
    {
        editing = true;
    }

    async Task LoadFiles(InputFileChangeEventArgs e)
    {
        var stream = e.File.OpenReadStream(e.File.Size);
        var fileBytes = await ReadFileBytesAsync(e.File, 10000);

        var result = await _carService.CheckLicensePlateByImageTask(new ByteArrayPart(fileBytes, e.File.Name, e.File.ContentType));
    }

    public static async Task<byte[]> ReadFileBytesAsync(IBrowserFile file, int timeoutMilliseconds)
    {
        using var memoryStream = new MemoryStream();
        using var cancellationTokenSource = new CancellationTokenSource(timeoutMilliseconds);

        try
        {
            await file.OpenReadStream().CopyToAsync(memoryStream, cancellationTokenSource.Token);
            return memoryStream.ToArray();
        }
        catch (OperationCanceledException)
        {
            throw new TimeoutException("Reading file timed out.");
        }
    }
}

<style>
    .custom_div {
        max-width: 400px;
        margin: 0 auto;
        background-color: #2a2a2a;
        padding: 20px;
        border-radius: 8px;
    }

    .card-container{
        justify-content: center;
        align-items: center;
    }

</style>