@page "/ViewCars"

@using Microsoft.AspNetCore.Components.Rendering
@using ParkoviskoCheckingAPP.Data
@inject CarService service
@using ParkoviskoCheckingAPP.Components

<button class="btn btn-primary" @onclick="Refresh">Refresh</button>

@if (haveInternet)
{
    <p>I have internet</p>
}
else
{
    <p>I don't have internet ): </p>
}

<div class="centered">
    @if (cars == null || cars.Count == 0)
    {
        @if (cars != null && cars.Count == 0)
        {
            <p><em>Haven't found any cars</em></p>
        }
        else
        {
            @if(cars == null && haveRefreshed)
            {
                <p>No cars sorry</p>
            }
            else
            {
                <div class="loader"></div>
            }
        }
    }
    else
    {
        @if (editing == false)
        {
            <div class="card-container">
                @foreach (var car_ in cars)
                {
                    <CarCard car="car_" Refresh="Refresh" Edit="EditCar" />
                }
            </div>
        }
        @if (editing == true)
        {
            <EditCarComponent car="carToEdit" Refresh="Refresh" />
        }
    }
</div>

@code {
    bool editing = false;
    public Car carToEdit = null;

    //check for internet connection
    NetworkAccess accessType = Connectivity.Current.NetworkAccess;
    bool haveInternet = false;
    private List<Car> cars = null;
    bool haveRefreshed = false;

    protected override async Task OnInitializedAsync()
    {
        await Refresh();  

        if (accessType == NetworkAccess.Internet)
        {
            haveInternet = true;
        }
    }

    async Task Refresh()
    {
        cars = await service.GetCarsAsync();
        haveRefreshed = true;
        editing = false;
    }

    async Task EditCar(int carID)
    {
        editing = true;
        carToEdit = await service.GetCarAsync(carID);
    }
}

<style>

    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loader{
            width: 100px;
            height: 100px;
    }
</style>